@charset "UTF-8";

body{
    background-color:lightslategrey; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
h1{
    color: lightsteelblue; 
    text-align: center;
}
h2{
    color: aliceblue; 
    text-align: center;
}
p{
    text-align: justify;
}